<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>WELCOME, <%= user ? user.profile.name : "lets cook somethin good!!" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>

  <!-- <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Lets get cooking!
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Browse Recipes</a></li>
      <li><a class="dropdown-item" href="#">Add a Recipe</a></li>
      <li><a class="dropdown-item" href="#">My Saved Recipes</a></li>
    </ul> -->
  </div>
</main>

<%- include('./partials/footer') %>
