<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<body>
  <h2>Recipe Box</h2>
  <a href="/recipes/new">Add a recipe</a>
  <% recipes.forEach(recipe => { %>
    <ul><a href="/recipes/<%= recipe._id %>"><%= recipe.name %></a></ul>
  <% }) %>
</body>
  
<%- include('../partials/footer') %>
