<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/recipes/index.css">
<%- include('../partials/nav') %>

<div id="add">
  <h2 id="rec">Recipe Box</h2>
  <a class="AR" href="/recipes/new">ADD A RECIPE</a>
  <br>
  <% recipes.forEach(recipe => { %>
  <a class="all" href="/recipes/<%= recipe._id %>"><%= recipe.name %></a>
  <% }) %>
  </div>
  
<%- include('../partials/footer') %>
