<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<body>
  <h2>Recipe Box</h2>
  <% recipes.forEach(recipe => { %>
    <a href="/recipes/<%= recipe.name %>"><%= recipe.name %></a>
  <% }) %>
  <a href="/recipes/new">Add a recipe</a>
</body>

  
<%- include('../partials/footer') %>
