<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New recipe</title>
</head>
<body>
  <h1><%= title %> </h1>
  <div>

  </div>
  <div>
    <a href="/recipes/<%=recipe._id%>/edit">
      <button>Edit Recipe</button></a>
    <a href="/recipes/<%=recipe._id%>/delete">
      <button>Delete Recipe</button></a>
  </div>
  <br>
  <div>Recipe Name:</div>
  <div><%= recipe.name %> </div>
  <div>Ingredients:</div>
  <div><%= recipe.ingredients %> </div>
  <div>Preparation:</div>
  <div><%= recipe.preparation %> </div>
  <div>Preparation Time:</div>
  <div><%= recipe.prepTime %> </div>
  <div>Serving Size:</div>
  <div><%= recipe.servingSize %> </div>

</body>
</html>
<%- include('../partials/footer') %>