<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/show.css" />
<%- include('../partials/nav') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <!-- <h1><%= title %> </h1> -->
  <div>
  
  </div>
  <br>
  <div>
    <% if (recipe.owner.equals(user.profile._id)) { %>
      <a href="/recipes/<%=recipe._id%>/edit">
        <button>Edit Recipe</button></a>
      <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
        <button>Delete Recipe</button></a>
      </form>
    <% } %>
  </div>
  <br>
  <div class="name">Recipe Name:</div>
  <div class="recN"><%= recipe.name %> </div>
  <div class="ing">Ingredients:</div>
  <div class="recI"><%= recipe.ingredients %> </div>
  <div class="prep">Instructions:</div>
  <div class="recP"><%= recipe.preparation %> </div>
  <div class="pt">Preparation Time:</div>
  <div class="recPT"><%= recipe.prepTime %> </div>
  <div class="ss">Serving Size:</div>
  <div class="recSS"><%= recipe.servingSize %> </div>


  <% recipe.comments.forEach(function(comment) { %>
    <li class="card-text"><%= comment.comment %></li>
  <% }) %>
  <form
    action="/recipes/<%= recipe._id %>/comments"
    method="POST"
    class="input-group"
  >
  <input
    type="text"
    name="comment"
    class="form-control form-control-dark"
    placeholder="Add a comment..."
    autocomplete="off"
    required
  />
  <button type="submit" class="btn btn-primary">
    Add Comment
  </button>
</form>
</body>
</html>
<%- include('../partials/footer') %>